pkgbase = openfrag
	pkgdesc = Local CS2 demo analysis and highlight capture dashboard
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/NtrpyDev/openfrag
	arch = x86_64
	license = GPL-3.0-only
	checkdepends = desktop-file-utils
	makedepends = cargo
	makedepends = rust
	depends = bash
	depends = ffmpeg
	depends = systemd
	depends = xdg-utils
	optdepends = gpu-screen-recorder: automatic highlight capture
	optdepends = steam: Counter-Strike 2 integration
	options = !lto
	source = openfrag-v1.0.0-source.tar.gz::https://github.com/NtrpyDev/openfrag/releases/download/v1.0.0/openfrag-v1.0.0-source.tar.gz
	sha256sums = 9e109aa1a2205613ff0607111903a13a8497333e3b28cef1ae359b3b314531e4

pkgname = openfrag
