pkgbase = openfrag
	pkgdesc = Local CS2 demo analysis and highlight capture dashboard
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/NtrpyDev/openfrag
	arch = x86_64
	license = GPL-3.0-only
	checkdepends = desktop-file-utils
	makedepends = cargo
	makedepends = rust
	depends = bash
	depends = ffmpeg
	depends = systemd
	depends = xdg-utils
	optdepends = gpu-screen-recorder: automatic highlight capture
	optdepends = steam: Counter-Strike 2 integration
	options = !lto
	source = openfrag-v1.0.0-source.tar.gz::https://github.com/NtrpyDev/openfrag/releases/download/v1.0.0/openfrag-v1.0.0-source.tar.gz
	sha256sums = 84a415c33eaaee072479c350f43361a1c5009d38015e736060aafcfac25490d6

pkgname = openfrag
